on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  process:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: get the latest stable manifest
        run: |
          export GHCR_TOKEN=$(echo $GH_TOKEN | base64)
          curl -H "Authorization: Bearer $GHCR_TOKEN" -H 'Accept: application/vnd.oci.image.index.v1+json' https://ghcr.io/v2/home-assistant/home-assistant/manifests/stable | python -m json.tool > stable.json
      - name: set github user name
        run: git config user.name "GitHub Actions [Bot]"
      - name: set github user email
        run: git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: check for changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
              git add .
              git commit -m "updated stable manifest"
              git push
          fi
